---
import { Picture } from 'astro:assets'
import Layout from '../../../layouts/Layout.astro'
import services from '../../../images/services.png'

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('nav.services')}>
    <div class="mx-auto w-full max-w-[1024px]">
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-grid z-[-1]"></div>

    <section class="w-full min-w-full max-w-[1024px] mt-[80px] lg:mt-[150px] rounded-box p-5 lg:p-20 grid overflow-hidden isolate relative h-svh">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.05]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.05]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    
      <div class="grid not-prose p-3 lg:p-0">
        <div class="grid lg:grid-flow-col gap-y-20 lg:gap-y-0 place-content-start place-items-center">
          <div>
    
            <div class="grid gap-y-5 lg:gap-y-0">
              <h1 class="text-7xl font-black">
                <span class="text-gradient-shadow bg-clip-text text-transparent bg-gradient-to-r from-secondary via-primary to-secondary glow-gradient-text">
                  Ваш проект уже ждет
                </span>
              </h1>
          </div>
          <div class="mt-10 grid grid-flow-col gap-y-5">
            <div class="grid">
              <p class="prose lg:prose-lg break-words">
                Мой подход к разработке сайтов не ограничивается простым запуском проекта. 
                Я стремлюсь к долгосрочному сотрудничеству, ориентированному на успешное развитие вашего бизнеса.
              </p>
              <p class="prose lg:prose-lg break-words">
                Готов начать работу над вашим проектом прямо сейчас и вместе с этим обсудить возможности его расширения и масштабирования 
                для обеспечения долгосрочного успеха. 
                Давайте воплотим вашу идею в реальность и сделаем ее готовой к вызовам будущего.
              </p> 
              <h3 class="prose-xl font-bold text-secondary">
                Давайте воплотим вашу идею в реальность и сделаем ее готовой к вызовам будущего.
              </h3>
            </div>
                <div>
                  <Picture class="w-full h-full max-w-[400px] max-h-[400px] object-cover object-center" src={services} alt="services oleksii vratskyi" formats={['avif', 'webp']} width='400' height='400'>
                </div>
            </div>
          </div>
        </div>
      </div>
    
    </section>

    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto lg:text-center not-prose">
          <h3 class="text-base font-semibold leading-7 text-primary">Не беспокойнеть о мелочах</h3>
          <h2 class="mt-2 text-6xl font-bold tracking-tight">Забудьте об этих умных словах, просто скажите что вы хотите</h2>
          <p class="mt-6 text-lg leading-8">
            Сосредоточьтесь не на том как, а на том что вы хотите, расскажите о своей идее в деталях и я помогу вам развить ее, 
            возможно у вас уже есть готовый бизнес и вы бы хотели привлечь больше клиентов или обновить дизайн, 
            уверен мы сможем воплотить Ваши задумки в жизнь.
          </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                  </svg>
                  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
                  </div>
                  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(85.5% 40.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 87.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%)"></div>
                  </div>
                </div>
                Push to deploy
              </dt>
              <dd class="mt-2 text-base leading-7">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                  </svg>
                </div>
                SSL certificates
              </dt>
              <dd class="mt-2 text-base leading-7">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                </div>
                Simple queues
              </dt>
              <dd class="mt-2 text-base leading-7">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                  </svg>
                </div>
                Advanced security
              </dt>
              <dd class="mt-2 text-base leading-7">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    


          <div class="mx-auto max-w-2xl sm:text-center not-prose mt-44">
            <h2 class="text-6xl font-bold tracking-tight text-primary">Без подвоха</h2>
            <p class="mt-6 text-lg leading-8">Цены которые не пугают своими <span class="uppercase font-black">размерами</span></p>
          </div>

          <div class="mb-10">
            <div class="mx-auto mt-10 p-5 flex-row w-full bg-base-100 rounded-box ring-1 ring-secondary/20 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
              <div class="p-8 sm:p-10 grid grid-flow-row isolate relative">
                <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
                  <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
                  <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-[0.07]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div>
                  <h2 class="text-4xl font-black tracking-tight not-prose">Project <span class="text-secondary">S</span></h2>
                  <p class="mt-6 text-base leading-7">Закажите небольшой проект <a class="link link-primary" href="https://ru.wikipedia.org/wiki/%D0%A6%D0%B5%D0%BB%D0%B5%D0%B2%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" target="_blank">лендинга</a>
                  и продайте ваш товар, расскажите о себе или спросите потенциальных клиентов чего они хотят?
                  </p>
                </div>
                <div class="flex items-center gap-x-4">
                  <h4 class="flex-none text-sm font-semibold leading-6 text-primary">Что входит в этот пакет</h4>
                </div>
                <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Один вариант дизайн проекта с возможностью внести до 5 небольших правок перед разработкой.">Дизайн проекта *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Проект разрабатывается на технологиях Node.js, JavaScript, Astro, Tailwind CSS и других.">Разработка проекта *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Если вы заказываете у меня проект первый раз, я предоставлю вам бесплатную поддержку вашего проекта на 2 недели, сюда входит: обслуживание сайта, обновление данных, правки, предложения по улучшению проекта. Сюда не входит улучшение функционала или добавление нового.">Бесплатная пробная поддержка *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Интеграция аналитики, такой как: Google, Bing, Facebook или другие на ваш выбор.">Интеграция аналитики *</span>
                  </li>
                </ul>
              </div>
              <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                <div class="rounded-box  bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                  <div class="mx-auto max-w-xs px-8">
                    <p class="text-base font-semibold">Плати раз, пользуйся всегда.</p>
                    <p class="mt-6 flex items-baseline justify-center gap-x-2">
                      <div class="text-5xl font-bold tracking-tight">
                        <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Цена указана только за работу и не учитывает стоимость услуг хостинг провайдера домена и других затрат на запуск сайта.">от $150*</span>
                        <span class="text-sm font-semibold leading-6 tracking-wide">USD</span>
                      </div>
                    </p>
                    <a href="#" class="mt-10 w-full btn btn-primary">Обсудить проект</a>
                    <p class="mt-6 text-xs leading-5">Цена может отличаться взависимости от сложности проекта.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="mx-auto mt-16 p-5 flex-row w-full bg-base-100 rounded-box ring-1 ring-secondary/20 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
              <div class="p-8 sm:p-10 grid grid-flow-row">
                <div>
                  <h2 class="text-4xl font-black tracking-tight not-prose">Project <span class="text-accent">L</span></h2>
                  <p class="mt-6 text-base leading-7">
                    Этот пакет подойдет для начального бизнес сайта/стартапа, расскажите о своей компании, предоставьте услуги, продавайте товары,
                    интеграция с системами аналитики и удобный интерфейс администратора позволит вам сосредоточить усилия на продажах.
                  </p>
                </div>
                <div class="flex items-center gap-x-4">
                  <h4 class="flex-none text-sm font-semibold leading-6 text-primary">Что входит в этот пакет</h4>
                </div>
                <ul role="list" class="grid grid-flow-row gap-4 text-sm leading-6 sm:grid-cols-2 sm:gap-6">
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Один вариант дизайн проекта с возможностью внести небольшие правки перед разработкой.">Дизайн проекта *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Проект разрабатывается на технологиях Node.js, JavaScript, Astro, Tailwind CSS и других.">Разработка проекта *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Если вы заказываете у меня проект первый раз, я предоставлю вам бесплатную поддержку вашего проекта на 2 недели, сюда входит: обслуживание сайта, обновление данных, правки, предложения по улучшению проекта. Сюда не входит улучшение функционала или добавление нового.">Бесплатная пробная поддержка *</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-6 w-5 flex-none text-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                   <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Интеграция аналитики, такой как: Google, Bing, Facebook или другие на ваш выбор.">Интеграция аналитики *</span>
                  </li>
                </ul>
              </div>
              <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                <div class="rounded-box  bg-base-300 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                  <div class="mx-auto max-w-xs px-8">
                    <p class="text-base font-semibold">Плати раз, пользуйся всегда.</p>
                    <p class="mt-6 flex items-baseline justify-center gap-x-2">
                      <div class="text-5xl font-bold tracking-tight">
                        <span class="tooltip tooltip-bottom underline decoration-sky-500 underline-offset-4 hover:cursor-pointer" data-tip="Цена указана только за работу и не учитывает стоимость услуг хостинг провайдера домена и других затрат на запуск сайта.">от $250*</span>
                        <span class="text-sm font-semibold leading-6 tracking-wide">USD</span>
                      </div>
                    </p>
                    <a href="#" class="mt-10 w-full btn btn-primary">Обсудить проект</a>
                    <p class="mt-6 text-xs leading-5">Цена может отличаться взависимости от сложности проекта.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


</div>

</Layout>