@tailwind base;
@tailwind components;
@tailwind utilities;

/** SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(71, 71, 71, 0);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--fallback-s, oklch(var(--s) / 1));
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--fallback-s, oklch(var(--s) / 1));
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--fallback-s, oklch(var(--s) / 1));
  }
  /** -------------- */

html,
body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none !important;
}
  
.glow-gradient-text {
    animation: glow 5s linear infinite;
    background-size: 200%;
}

@-webkit-keyframes glow {
    0% {
        background-position: 0% 43%;
    }
    50% {
        background-position: 100% 58%;
    }
    100% {
        background-position: 0% 43%;
    }
}
@keyframes glow {
    0% {
        background-position: 0% 43%;
    }
    50% {
        background-position: 100% 58%;
    }
    100% {
        background-position: 0% 43%;
    }
}

.bg-dots {
  background-image: radial-gradient(var(--fallback-a, oklch(var(--a) / 0.3)), 2px, transparent 2px);
  box-shadow: inset 0px 0px 200px var(--fallback-s, oklch(var(--s) / 0.1));
  background-size: 120px 120px;
}

.bg-grid {
  background-image: linear-gradient(var(--fallback-s, oklch(var(--s) / 0.04)) 1px, transparent 1px), linear-gradient(to right, var(--fallback-bc, oklch(var(--bc) / 0.03)) 1px, transparent 1px);
  background-size: 40px 40px;
}

.inset-bg {
  box-shadow: inset 0px 0px 200px var(--fallback-s, oklch(var(--s) / 0.3));
}

.inset-bg-a {
  box-shadow: inset 0px 0px 50px var(--fallback-a, oklch(var(--a) / 0.1));
}