---
import SwitchLang from './SwitchLang.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import ThemeSwitcher from './ThemeSwitcher.astro'
import OrderButton from '../buttons/OrderButton.astro'
import Logo from '../Logo.astro'
import MenuButton from '../buttons/MenuButton.astro'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="navbar bg-base-200 rounded-box px-5 sticky">
    <div class="navbar-start">
      <!-- кнопка меню -->
      <MenuButton />
    </div>
    <!-- логотип -->
    <Logo />
    <div class="navbar-end flex space-x-6">
    <div class="flex space-x-2">
      <!-- переключатель тем -->
      <ThemeSwitcher />
      <!-- переключатель языка -->
      <SwitchLang />
    </div>
      <!-- заказать -->
      <OrderButton />
    </div>
  </div>