---
import OrderButton from '../buttons/OrderButton.astro'
import Logo from '../Logo.astro'
import MenuButton from '../buttons/MenuButton.astro'
import ShowWeather from '../ShowWeather.astro'
---

<div class="navbar bg-base-200 rounded-box px-5 sticky">
    <div class="navbar-start !z-[100]">
      <!-- кнопка меню -->
      <MenuButton transition:persist />
    </div>
    <!-- логотип -->
    <Logo transition:persist />
    <div class="navbar-end flex space-x-6">
    <div class="flex space-x-2">
    </div>
      <ShowWeather transition:persist />
      <!-- заказать -->
      <OrderButton transition:persist />
    </div>
  </div>