---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro'
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import Skills from '../components/Skills.astro'
import MyGithub from '../components/MyGithub.astro'
import CTA from "../components/CTA.astro";

getAbsoluteLocaleUrl("ru");
---

<Layout title='VRATSKYI'>
    <div class="mx-auto w-full max-w-[1024px]">
        <Hero />
    </div>
    <Skills />
    <MyGithub />
    <CTA />
</Layout>