---
import Layout from '../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title=`${t('nav.about')} - VRATSKYI`>

    <div class="mx-auto w-full max-w-[1024px] my-[80px]">
        <div class="hero h-svh">
            <div id='confetti-container' class="hero-content text-center">
              <div class="max-w-2xl">
                <h1 class="text-5xl" set:html={t('contact.form.success')}></h1>
                <a class="btn btn-primary" href={`/${lang}/`}>{t('contact.form.button.back')}</a>
              </div>
            </div>
          </div>
    </div>
    
</Layout>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js" defer transition:persist data-astro-rerun></script>
<script type="text/javascript" is:inline transition:persist data-astro-rerun>
document.addEventListener('astro:page-load', function () {
  if (window.location.pathname === '/order-success/') {
    // Создаем эффект конфети
    let count = 600;
    let defaults = {
      origin: { y: 0.7 },
    };

    function fire(particleRatio, opts) {
      confetti({
        ...defaults,
        ...opts,
        particleCount: Math.floor(count * particleRatio),
      });
    }

    fire(0.25, {
      spread: 26,
      startVelocity: 55,
    });
    fire(0.2, {
      spread: 60,
    });
    fire(0.35, {
      spread: 100,
      decay: 0.91,
      scalar: 0.8,
    });
    fire(0.1, {
      spread: 120,
      startVelocity: 25,
      decay: 1.42,
      scalar: 1.2,
    });
    fire(0.1, {
      spread: 160,
      startVelocity: 65,
    });
    }
  });

</script>