---
import Layout from "../../layouts/Layout.astro";
import Hero from '../../components/Hero.astro'
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import About from '../../components/About.astro'
import Skills from '../../components/Skills.astro'
import MyGithub from "../../components/MyGithub.astro";


getAbsoluteLocaleUrl("ru");
---

<Layout title='VRATSKYI'>
    <div class="mx-auto w-full max-w-[1024px]">
        <Hero transition:persist />
        <About transition:persist />
    </div>
    <Skills transition:persist />
    <MyGithub transition:persist />
</Layout>