---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="timeline" class="bg-base-100 mt-[80px] lg:mt-[300px] p-5 lg:p-10 rounded-box">
    <div class="grid gap-y-20">

        <div class="grid gap-y-5 not-prose">
          <div class="grid grid-flow-col place-content-start gap-x-3 place-items-center">
            <a href="#timeline">
              <svg  class="inline-block w-6 h-6 stroke-current hover:text-primary duration-150" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M20 10V8h-4V4h-2v4h-4V4H8v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4zm-6 4h-4v-4h4z" /></svg>
            </a>
            <h3 class="badge badge-neutral text-lg font-thin">{t('about.subTitle')}</h3>
          </div>
          <h2 class="text-6xl font-black bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">
            {t('about.title')}
          </h2>
        </div>
    
        <div class="grid place-content-center">
            <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
                <li>
                  <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                  </div>
                  <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">2010</time>
                    <div class="text-lg font-black">{t('about.timeline.1-story.title')}</div>
                    {t('about.timeline.1-story.description')}
                  </div>
                  <hr class="bg-primary" />
                </li>
                <li>
                    <hr class="bg-primary"  />
                  <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                  </div>
                  <div class="timeline-end mb-10">
                    <time class="font-mono italic">2016</time>
                    <div class="text-lg font-black">{t('about.timeline.2-story.title')}</div>
                     <div set:html={t('about.timeline.2-story.description')}></div>
                  </div>
                  <hr class="bg-primary"  />
                </li>
                <li>
                    <hr class="bg-primary"  />
                  <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                  </div>
                  <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">2017</time>
                    <div class="text-lg font-black">{t('about.timeline.3-story.title')}</div>
                    {t('about.timeline.3-story.description')}
                  </div>
                  <hr class="bg-primary"  />
                </li>
                <li>
                    <hr class="bg-primary"  />
                  <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                  </div>
                  <div class="timeline-end mb-10">
                    <time class="font-mono italic">2018</time>
                    <div class="text-lg font-black">{t('about.timeline.4-story.title')}</div>
                    {t('about.timeline.4-story.description')}
                  </div>
                  <hr class="bg-primary"  />
                </li>
                <li>
                    <hr class="bg-primary"  />
                  <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                  <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">2019</time>
                    <div class="text-lg font-black">{t('about.timeline.5-story.title')}</div>
                    {t('about.timeline.5-story.description')}
                  </div>
                    <hr class="bg-primary"  />
                </li>
                <li>
                    <hr class="bg-primary"  />
                    <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                    <div class="timeline-end mb-10">
                      <time class="font-mono italic">2021 - 2022</time>
                      <div class="text-lg font-black">{t('about.timeline.6-story.title')}</div>
                      {t('about.timeline.6-story.description')}
                          <p>{t('about.timeline.6-story.subDescription')}</p>
                    </div>
                    <hr class="bg-primary"  />
                </li>
                  <li>
                    <hr class="bg-primary"  />
                    <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                    <div class="timeline-start md:text-end mb-10">
                      <time class="font-mono italic">2024</time>
                      <div class="text-lg font-black">{t('about.timeline.7-story.title')}</div>
                      {t('about.timeline.7-story.description')}
                    </div>
                    <hr class="bg-primary"  />
                </li>
                  <li>
                    <hr />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                    <div class="timeline-end mb-10">
                      <time class="font-mono italic">2025 +</time>
                      <div class="text-lg font-black">{t('about.timeline.8-story.title')}</div>
                      {t('about.timeline.8-story.description')}
                    </div>
                    <hr />
                  </li>
              </ul>
        </div>
    </div>
</section>
