<div class="not-prose mt-20 grid grid-flow-col place-self-start shadow-lg shadow-secondary/10 rounded-box">
    <div class="stats shadow bg-base-100">
  
        <div class="stat">
          <div class="stat-figure text-primary">
            <svg  class="inline-block w-8 h-8 stroke-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 1024 1024"><path fill="currentColor" d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5C64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9c26.4 39.1 77.9 32.5 104 26c5.7-23.5 17.9-44.5 34.7-60.8c-140.6-25.2-199.2-111-199.2-213c0-49.5 16.3-95 48.3-131.7c-20.4-60.5 1.9-112.3 4.9-120c58.1-5.2 118.5 41.6 123.2 45.3c33-8.9 70.7-13.6 112.9-13.6c42.4 0 80.2 4.9 113.5 13.9c11.3-8.6 67.3-48.8 121.3-43.9c2.9 7.7 24.7 58.3 5.5 118c32.4 36.8 48.9 82.7 48.9 132.3c0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9c177.1-59.7 304.6-227 304.6-424.1c0-247.2-200.4-447.3-447.5-447.3" /></svg>
          </div>
          <div class="stat-title">Кількість github контрібутів за місяць</div>
          <div id="githubData" class="stat-value text-primary">65+</div>
          <div class="stat-desc">статистика оновлюється що неділі</div>
        </div>
        
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg class="inline-block w-8 h-8 stroke-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path fill="currentColor" d="M7.75 2.5a.75.75 0 0 0-1.5 0v1.58c-1.44.115-2.384.397-3.078 1.092c-.695.694-.977 1.639-1.093 3.078h19.842c-.116-1.44-.398-2.384-1.093-3.078c-.694-.695-1.639-.977-3.078-1.093V2.5a.75.75 0 0 0-1.5 0v1.513C15.585 4 14.839 4 14 4h-4c-.839 0-1.585 0-2.25.013z" />
              <path fill="currentColor" fill-rule="evenodd" d="M2 12c0-.839 0-1.585.013-2.25h19.974C22 10.415 22 11.161 22 12v2c0 3.771 0 5.657-1.172 6.828C19.657 22 17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14zm15 2a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2m-4-5a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-6-3a1 1 0 1 0 0-2a1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="stat-title">Років розробки</div>
          <div class="stat-value text-secondary">5+</div>
          <div class="stat-desc">2 роки професійно</div>
        </div>
        
        <div class="stat gap-x-10">
          <div class="stat-figure text-secondary place-self-center">
              <div class="w-16 text-center">
                <svg class="inline-block w-8 h-8 stroke-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                  <g fill="none">
                    <path fill="url(#f675id0)" d="M18.97 5.73c-.878-.302-2.662-1.347-2.917-3.917c-.04-.382-.377-.673-.774-.683c-2.974-.08-4.696 3.072-5.48 4.638c-.329.423-.805.412-1.141.02c-.5-.582-.305-2.158-1.446-1.646c-3.26 1.465-5.195 5.3-5.195 9.758c0 7.64 11.09 14.004 13.25 15.138c.224.12 1.261.223 1.688 0c2.17-1.134 13.062-7.499 13.062-15.138c0-5.25-4.186-8.714-8.861-10.531c-.51-.201-1.07.16-1.07.702l-.077.925c-.039.383-.502.918-1.039.734" />
                    <path fill="url(#f675id1)" d="M18.97 5.73c-.878-.302-2.662-1.347-2.917-3.917c-.04-.382-.377-.673-.774-.683c-2.974-.08-4.696 3.072-5.48 4.638c-.329.423-.805.412-1.141.02c-.5-.582-.305-2.158-1.446-1.646c-3.26 1.465-5.195 5.3-5.195 9.758c0 7.64 11.09 14.004 13.25 15.138c.224.12 1.261.223 1.688 0c2.17-1.134 13.062-7.499 13.062-15.138c0-5.25-4.186-8.714-8.861-10.531c-.51-.201-1.07.16-1.07.702l-.077.925c-.039.383-.502.918-1.039.734" />
                    <path fill="url(#f675id2)" d="M18.97 5.73c-.878-.302-2.662-1.347-2.917-3.917c-.04-.382-.377-.673-.774-.683c-2.974-.08-4.696 3.072-5.48 4.638c-.329.423-.805.412-1.141.02c-.5-.582-.305-2.158-1.446-1.646c-3.26 1.465-5.195 5.3-5.195 9.758c0 7.64 11.09 14.004 13.25 15.138c.224.12 1.261.223 1.688 0c2.17-1.134 13.062-7.499 13.062-15.138c0-5.25-4.186-8.714-8.861-10.531c-.51-.201-1.07.16-1.07.702l-.077.925c-.039.383-.502.918-1.039.734" />
                    <g filter="url(#f675idb)">
                      <path fill="url(#f675id3)" d="M15.812 10.222c-3.504-3.23-2.135-7.054-.5-8.43c.057-.048.142-.013.157.06c.725 3.566 2.649 4.489 5.343 5.12c-2.3.55-4.458 2.584-5 3.25" />
                    </g>
                    <g filter="url(#f675idc)">
                      <path fill="url(#f675id4)" fill-opacity="0.5" d="M9.219 14.379c-3.23-2.5-3.103-8.208-1.53-9.678c.055-.05.14-.017.155.055c.468 2.213 1.797 3.465 4.468 4.091c-2.3.55-2.552 4.865-3.093 5.532" />
                    </g>
                    <g filter="url(#f675idd)">
                      <path stroke="url(#f675id5)" stroke-linecap="round" stroke-width="0.25" d="M15.25 2.066c-1.01.896-2.494 3.494-.344 6.719" />
                    </g>
                    <g filter="url(#f675ide)">
                      <path stroke="url(#f675id6)" stroke-linecap="round" stroke-width="0.25" d="M7.562 4.879c-.875 1.53-.625 5.218 1.125 7.562" />
                    </g>
                    <g filter="url(#f675idf)">
                      <path fill="url(#f675id7)" d="M23.781 11.597c-.175-3.5-2.458-7.156-3.187-7.718c0 2.156-2 5.187-3.344 6.343z" />
                    </g>
                    <g filter="url(#f675idg)">
                      <path fill="url(#f675id8)" d="m24.125 22.347l-1.813-17.5c2.271.521 6.713 4.138 6.563 8.938c-.15 4.8-3.208 7.25-4.75 8.562" />
                    </g>
                    <path fill="url(#f675idm)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675idn)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675ido)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675idp)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675id9)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675ida)" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <path fill="url(#f675idq)" fill-opacity="0.6" d="M15.247 28.967a1.707 1.707 0 0 0 1.708-.02c3.107-1.8 8.368-5.83 10.45-11.044c3.095-6.874-4.171-12.362-9.194-8.415c-.499.392-1.12.838-1.57 1.265c-.241.23-.664.254-.913.032a22.368 22.368 0 0 0-2.057-1.581c-4.282-2.897-12.072.921-8.75 9.07c1.204 3.618 6.89 8.732 10.326 10.693" />
                    <g filter="url(#f675idh)">
                      <path fill="#fa1c56" d="M16.642 13.062v5.457c0 .904 1.095 1.332 1.645.613c1.401-1.833 2.44-4 1.15-5.785c-.502-.695-1.45-1.15-2.248-1.045c-.355.047-.547.401-.547.76" />
                    </g>
                    <g filter="url(#f675idi)">
                      <ellipse cx="23.67" cy="13.519" fill="url(#f675idr)" rx="3.589" ry="2.47" transform="rotate(-44.19 23.67 13.519)" />
                    </g>
                    <g filter="url(#f675idj)">
                      <ellipse cx="14.011" cy="15.149" fill="url(#f675ids)" fill-opacity="0.6" rx="4.124" ry="2.225" transform="rotate(-128.955 14.01 15.15)" />
                    </g>
                    <g filter="url(#f675idk)">
                      <ellipse cx="22.274" cy="9.255" fill="#ff93ba" rx="1.759" ry=".342" />
                    </g>
                    <g filter="url(#f675idl)">
                      <ellipse cx="10.363" cy="9.255" fill="#ff93ba" fill-opacity="0.5" rx="1.759" ry=".342" />
                    </g>
                    <defs>
                      <linearGradient id="f675id0" x1="20.187" x2="10.812" y1="15.149" y2="-.09" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#f8ec1d" />
                        <stop offset=".721" stop-color="#f89c20" />
                        <stop offset="1" stop-color="#f5891f" />
                      </linearGradient>
                      <linearGradient id="f675id1" x1="10" x2="4.187" y1="16.66" y2="23.66" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#f89c20" stop-opacity="0" />
                        <stop offset="1" stop-color="#f5891f" />
                      </linearGradient>
                      <linearGradient id="f675id2" x1="23.312" x2="20.562" y1="13.66" y2="29.17" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#f89c20" stop-opacity="0" />
                        <stop offset="1" stop-color="#f5891f" />
                      </linearGradient>
                      <linearGradient id="f675id3" x1="14.812" x2="19.187" y1="4.004" y2="12.316" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffd56c" />
                        <stop offset="1" stop-color="#ffd56c" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id4" x1="6.812" x2="11.187" y1="7.644" y2="15.957" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffd56c" />
                        <stop offset="1" stop-color="#ffd56c" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id5" x1="14.527" x2="14.527" y1="2.066" y2="5.425" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffe39d" />
                        <stop offset="1" stop-color="#ffdd89" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id6" x1="6.839" x2="6.839" y1="4.879" y2="8.238" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffe39d" />
                        <stop offset="1" stop-color="#ffdd89" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id7" x1="21.312" x2="21.312" y1="4.129" y2="10.191" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#f89c20" />
                        <stop offset="1" stop-color="#f89c20" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id8" x1="28.879" x2="18.109" y1="13.597" y2="7.855" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffe39e" />
                        <stop offset="1" stop-color="#ffe39e" stop-opacity="0" />
                      </linearGradient>
                      <linearGradient id="f675id9" x1="17.544" x2="24.453" y1="17.764" y2="25.986" gradientUnits="userSpaceOnUse">
                        <stop offset=".694" stop-color="#ff7af2" stop-opacity="0" />
                        <stop offset=".934" stop-color="#ffbce6" />
                      </linearGradient>
                      <linearGradient id="f675ida" x1="16.687" x2="8.579" y1="18.107" y2="27.242" gradientUnits="userSpaceOnUse">
                        <stop offset=".694" stop-color="#ff7af2" stop-opacity="0" />
                        <stop offset=".934" stop-color="#ffbce6" />
                      </linearGradient>
                      <filter id="f675idb" width="9.191" height="10.453" x="12.621" y=".77" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".5" />
                      </filter>
                      <filter id="f675idc" width="7.699" height="11.702" x="5.614" y="3.677" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".5" />
                      </filter>
                      <filter id="f675idd" width="2.696" height="7.969" x="13.179" y="1.441" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".25" />
                      </filter>
                      <filter id="f675ide" width="2.865" height="8.813" x="6.447" y="4.254" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".25" />
                      </filter>
                      <filter id="f675idf" width="9.031" height="10.219" x="16" y="2.629" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".625" />
                      </filter>
                      <filter id="f675idg" width="8.566" height="19.5" x="21.312" y="3.847" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".5" />
                      </filter>
                      <filter id="f675idh" width="7.382" height="11.207" x="14.642" y="10.287" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation="1" />
                      </filter>
                      <filter id="f675idi" width="9.193" height="9.131" x="19.074" y="8.953" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".75" />
                      </filter>
                      <filter id="f675idj" width="9.234" height="9.999" x="9.394" y="10.15" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".75" />
                      </filter>
                      <filter id="f675idk" width="6.517" height="3.684" x="19.015" y="7.413" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".75" />
                      </filter>
                      <filter id="f675idl" width="6.517" height="3.684" x="7.104" y="7.413" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur result="effect1_foregroundBlur_7134_6142" stdDeviation=".75" />
                      </filter>
                      <radialGradient id="f675idm" cx="0" cy="0" r="1" gradientTransform="matrix(.7034 27.74999 -28.57582 .72433 15.233 1.16)" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#f12e52" />
                        <stop offset=".677" stop-color="#ff3b79" />
                        <stop offset="1" stop-color="#ff4ec6" />
                      </radialGradient>
                      <radialGradient id="f675idn" cx="0" cy="0" r="1" gradientTransform="rotate(142.986 8.763 10.523)scale(22.615 42.3601)" gradientUnits="userSpaceOnUse">
                        <stop offset=".483" stop-color="#b91d43" stop-opacity="0" />
                        <stop offset=".834" stop-color="#b91d43" />
                      </radialGradient>
                      <radialGradient id="f675ido" cx="0" cy="0" r="1" gradientTransform="rotate(-158.663 11.55 7.76)scale(19.6166 27.7308)" gradientUnits="userSpaceOnUse">
                        <stop offset=".41" stop-color="#b91d43" stop-opacity="0" />
                        <stop offset=".834" stop-color="#b91d43" />
                      </radialGradient>
                      <radialGradient id="f675idp" cx="0" cy="0" r="1" gradientTransform="rotate(90 -.053 15.712)scale(17.0729)" gradientUnits="userSpaceOnUse">
                        <stop offset=".671" stop-color="#ff7af2" stop-opacity="0" />
                        <stop offset=".934" stop-color="#ffbce6" />
                      </radialGradient>
                      <radialGradient id="f675idq" cx="0" cy="0" r="1" gradientTransform="rotate(164.618 8.02 8.706)scale(14.8442 15.6768)" gradientUnits="userSpaceOnUse">
                        <stop offset=".802" stop-color="#ff73a6" stop-opacity="0" />
                        <stop offset="1" stop-color="#ff93ba" />
                      </radialGradient>
                      <radialGradient id="f675idr" cx="0" cy="0" r="1" gradientTransform="rotate(-176.775 13.842 6.755)scale(5.30792 3.58415)" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ff93ba" />
                        <stop offset="1" stop-color="#ff73a6" stop-opacity="0" />
                      </radialGradient>
                      <radialGradient id="f675ids" cx="0" cy="0" r="1" gradientTransform="matrix(-5.37567 -.26019 .1378 -2.84707 16.445 15.75)" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ffa7c7" />
                        <stop offset="1" stop-color="#ffa7c7" stop-opacity="0" />
                      </radialGradient>
                    </defs>
                  </g>
                </svg>
            </div>
          </div>
          <div class="stat-value">12+</div>
          <div class="stat-title">виконаних проектів</div>
          <div class="stat-desc text-secondary">половина з них комерційні</div>
        </div>
        
      </div>
</div>