<div class="mt-5 grid place-content-center">
    
    <form method="POST" class="grid place-content-center mt-10 gap-y-5">
        <div class="grid grid-flow-col place-content-center gap-x-2">
            <label class="input input-bordered flex items-center gap-2">
                Имя
                <input type="text" autocomplete="name" class="grow hover:cursor-text" value="" placeholder="Oleksii" required />
              </label>
              <label class="input input-bordered flex items-center gap-2">
                Email
                <input type="email" autocomplete="email" class="grow hover:cursor-text" value="" placeholder="example@gmail.com" required />
              </label>
            </div>
            <label class="input input-bordered flex items-center gap-2">
                Ваш сайт
                <input type="text" autocomplete="name" class="grow hover:cursor-text" value="" placeholder="example.com" />
              </label>
                <textarea id="contactText" value="" maxlength="900" placeholder="Расскажите о своем проекте" required class="textarea textarea-bordered textarea-lg w-full max-w-full placeholder:text-sm hover:cursor-text" ></textarea>
                <div class="label justify-end">
                    <span id="contactTextCounter" class="label-text-alt">0/900</span>
                  </div>
                  <span class="label-text-alt">Отправляя форму вы соглашаетесь на обработку ваших 
                    <button class="link link-primary no-underline" onclick="my_modal_3.showModal()">персональных данных.</button>
                    
                </span>
                
                
                <button class="btn btn-sm btn-primary place-self-start">Отправить</button>
            </form>
            <dialog id="my_modal_3" class="modal">
              <div class="modal-box">
                <form method="dialog">
                  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <h3 class="font-bold text-lg">Мы уважаем вашу конфиденциальность.</h3>
                <p class="py-4">
                    При отправке формы на нашем сайте вы соглашаетесь на обработку ваших 
                    персональных данных в соответствии с нашей 
                    <a class="link link-primary" href="#">политикой конфиденциальности.</a>
                </p>
              </div>
            </dialog>
</div>


<script type="text/javascript" transition:persist data-astro-rerun is:inline>

    document.addEventListener('astro:page-load', () => {
        const counter = document.getElementById('contactTextCounter');
        const contactText = document.getElementById('contactText');

            contactText.addEventListener('input', () => {
            let count = contactText.value.length; // Получаем текущую длину текста в поле ввода

            // Если поле ввода пустое, счетчик устанавливается в 0
            if (count === 0) {
                counter.textContent = '0/900';
                return; // Выходим из функции, чтобы не выполнять лишний код
            }

            // Ограничиваем максимальное количество символов до 900
            if (count > 900) {
                contactText.value = contactText.value.slice(0, 900); // Обрезаем текст до 900 символов
                count = 900; // Устанавливаем счетчик в 900
            }

            // Если пользователь удаляет текст, уменьшаем счетчик
            if (count < parseInt(counter.textContent)) {
                count = parseInt(counter.textContent) - 1;
            }

            // Обновляем значение счетчика
            counter.textContent = `${count}/900`;
        });

    });

</script>