---

---
<div class="mt-20 grid place-content-center">
    
    <div class="grid grid-flow-col">
        <div class="form-control w-82">
            <label class="cursor-pointer label space-x-5 justify-start">
              <span class="label-text">Представитель ораганизации</span> 
              <input id="isOrganization" type="checkbox" class="toggle toggle-primary border-accent bg-accent hover:bg-accent duration-150" checked />
              <span class="label-text">Физ лицо</span> 
            </label>
          </div>
    </div>
    
    <form method="POST" class="grid place-content-center mt-10 gap-y-5">
        <div class="grid grid-flow-col place-content-center gap-x-2">
            <label class="input input-bordered flex items-center gap-2">
                Имя
                <input type="text" class="grow" value="" placeholder="Daisy" />
              </label>
              <label class="input input-bordered flex items-center gap-2">
                Email
                <input type="text" class="grow" value="" placeholder="daisy@site.com" />
              </label>
            </div>
                <textarea id="contactText" value="" maxlength="600" placeholder="Расскажите о своем проекте" class="textarea textarea-bordered textarea-lg w-full max-w-full placeholder:text-sm" ></textarea>
                <div class="label justify-end">
                    <span id="contactTextCounter" class="label-text-alt">0/600</span>
                  </div>
        </form>
</div>


<script type="text/javascript" transition:persist data-astro-rerun is:inline>

    document.addEventListener('astro:page-load', () => {
        const counter = document.getElementById('contactTextCounter');
        const contactText = document.getElementById('contactText');

            contactText.addEventListener('input', () => {
            let count = contactText.value.length; // Получаем текущую длину текста в поле ввода

            // Если поле ввода пустое, счетчик устанавливается в 0
            if (count === 0) {
                counter.textContent = '0/600';
                return; // Выходим из функции, чтобы не выполнять лишний код
            }

            // Ограничиваем максимальное количество символов до 600
            if (count > 600) {
                contactText.value = contactText.value.slice(0, 600); // Обрезаем текст до 600 символов
                count = 600; // Устанавливаем счетчик в 600
            }

            // Если пользователь удаляет текст, уменьшаем счетчик
            if (count < parseInt(counter.textContent)) {
                count = parseInt(counter.textContent) - 1;
            }

            // Обновляем значение счетчика
            counter.textContent = `${count}/600`;
        });

    });

</script>