---
import { Image } from 'astro:assets'
import Stats from './AuthorStats.astro'
import author from '../images/oleksii-vratskyi.jpg'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="absolute top-0 left-0 right-0 bottom-0 bg-dots z-[-1]"></div>

<section class="w-full min-w-full max-w-[1024px] mt-[80px] lg:mt-[150px] rounded-box bg-base-200 p-5 lg:p-20 grid">


  <div class="grid not-prose p-3 lg:p-0">
    <div class="grid lg:grid-flow-col gap-y-20 lg:gap-y-0 place-content-between place-items-center">
      <div>

        <div class="grid gap-y-5 lg:gap-y-0">
          <h1 class="text-7xl font-black">
            <span class="text-gradient-shadow bg-clip-text text-transparent bg-gradient-to-r from-accent via-primary to-secondary glow-gradient-text">
              {t('hero.title')}
            </span>
          </h1>
          <h2 class="text-5xl font-black">
            {t('hero.subTitle')}<br />
        </h2>
      </div>
      <div class="mt-10 grid gap-y-5">
          <p class="prose lg:prose-lg break-words text-balance">
            {t('hero.description')}
          </p>
          <p class="prose lg:prose-lg break-words text-balance">
            {t('hero.subDescription')}
          </p>
        </div>
      </div>

      <div class="order-first lg:order-last">
        <Image src={author} alt="Oleksii Vratskyi" format='avif' class='rounded-full ring-[6px] ring-primary ring-offset-base-100 ring-offset-2 shadow-xl shadow-secondary/10 size-[200px] !z-0'>
      </div>

    </div>
  </div>

  <Stats transition:persist />

</section>