---
import { Image } from 'astro:assets'
import Stats from './AuthorStats.astro'
import author from '../images/oleksii-vratskyi.png'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative w-full min-w-full max-w-[1024px] mt-[80px] lg:mt-[150px] rounded-box p-5 lg:p-20 grid bg-base-300/70 backdrop-blur-3xl overflow-hidden isolate">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[18.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-60" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[48.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-60" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  <div class="grid not-prose p-3 lg:p-0">
    <div class="grid lg:grid-flow-col gap-y-20 lg:gap-y-0 place-content-between place-items-center">
      <div>

        <div class="grid gap-y-5 lg:gap-y-0">
          <h1 class="text-7xl font-black">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-secondary to-primary">
              {t('hero.title')}
            </span>
          </h1>
          <h2 class="text-5xl font-black">
            {t('hero.subTitle')}<br />
        </h2>
      </div>
      <div class="mt-10 grid gap-y-5">
          <p class="prose lg:prose-lg break-words text-balance">
            {t('hero.description')}
          </p>
          <p class="prose lg:prose-lg break-words text-balance">
            {t('hero.subDescription')}
          </p>
        </div>
      </div>

      <div class="order-first lg:order-last">
        <Image src={author} alt="Oleksii Vratskyi" format='webp' width='200' height='200' class='rounded-full ring-[6px] ring-primary ring-offset-base-100 ring-offset-2 shadow-xl shadow-secondary/10 size-[200px]' />
      </div>

    </div>
  </div>

  <Stats />

</section>