---
import { Image } from "astro:assets";
import logo from '/src/images/logo.png'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="navbar-center">
    <a href={`/${lang}/`} class="btn btn-ghost w-[120px] not-prose"><Image id="logo" src={logo} alt="Замовити розробку сайту в Україні" format="avif" width='82' height='11' loading="eager" /></a>
</div>