---
import Layout from '../../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import ContactForm from '../../../components/ContactForm.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title=`${t('nav.contact')} - VRATSKYI`>

    <section class="mx-auto w-full max-w-[800px] my-[200px] lg:min-h-svh">
        <div class="mx-auto w-full max-w-2xl">
            <h1>Связаться со мной</h1>
            <p>Расскажите о сновоем проекте вкратце, чего бы вы хотели и чего ожидаете, так я смогу дать более четкий ответ.</p>
        </div>

        <ContactForm />

    </section>
    
</Layout>