---
import Head from "../components/head/Head.astro";
import Header from "../components/head/Header.astro";

const { title = 'Сервис' } = Astro.props;
---

<!doctype html>
<html lang="ua-UK">
  <Head title={title} />
  <body class="mx-auto w-full max-w-[1024px] cursor-default"> 
    <Header transition:persist />
    <slot />
  </body>
</html>
