---
import Head from "../components/head/Head.astro";
import Header from "../components/head/Header.astro";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const { title = 'VRATSKYI' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <Head title={title} />
  <body class="mx-auto min-w-full cursor-default prose subpixel-antialiased"> 
    <div class="mx-auto w-full max-w-[1024px]">
      <Header transition:persist />
    </div>
    <slot />
  </body>
</html>
